<div>
  <h2 id="page-heading" data-cy="PartHeading">
    <span jhiTranslate="valvadApp.part.home.title">Parts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="valvadApp.part.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-part"
        [routerLink]="['/part/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="valvadApp.part.home.createLabel"> Create a new Part </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="valvadApp.part.home.search">Query</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'valvadApp.part.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="parts?.length === 0">
    <span jhiTranslate="valvadApp.part.home.notFound">No parts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parts && parts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="valvadApp.part.description">Description</span></th>
          <th scope="col"><span jhiTranslate="valvadApp.part.number">Number</span></th>
          <th scope="col"><span jhiTranslate="valvadApp.part.compatibility">Compatibility</span></th>
          <th scope="col"><span jhiTranslate="valvadApp.part.brand">Brand</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let part of parts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/part', part.id, 'view']">{{ part.id }}</a>
          </td>
          <td>{{ part.description }}</td>
          <td>{{ part.number }}</td>
          <td>
            <div *ngIf="part.compatibility">
              <a [routerLink]="['/compatibility', part.compatibility?.id, 'view']">{{ part.compatibility?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="part.brand">
              <a [routerLink]="['/brand', part.brand?.id, 'view']">{{ part.brand?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/part', part.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/part', part.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(part)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
