<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="compatibility">
      <h2 data-cy="compatibilityDetailsHeading"><span jhiTranslate="valvadApp.compatibility.detail.title">Compatibility</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ compatibility.id }}</span>
        </dd>
        <dt><span jhiTranslate="valvadApp.compatibility.part">Part</span></dt>
        <dd>
          <div *ngIf="compatibility.part">
            <a [routerLink]="['/part', compatibility.part?.id, 'view']">{{ compatibility.part?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="valvadApp.compatibility.model">Model</span></dt>
        <dd>
          <div *ngIf="compatibility.model">
            <a [routerLink]="['/model', compatibility.model?.id, 'view']">{{ compatibility.model?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/compatibility', compatibility.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
